.landing{
    background-image: url('../img/back-pic1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family: 'Gabriela', serif;
    /* padding-bottom:5%; */
  }
  .about{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
    background-image: none;
  }
  .services{
    text-align: center;
    background-image: url("../img/back-pic2.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Copse', serif;
    font-size: 18px;
  }
  .container{
    font-family: 'Quattrocento', serif;
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
  }
  #portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%; 
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
  }